/* Customize Fonts */
@font-face {
    font-family: SpaceAge;
    src: url(/fonts/space\ age.ttf);
  }
  
  @font-face {
      font-family: Zabal;
      src: url(/fonts/ZabalDEMO-Bold.ttf);
  }
  
  @font-face {
    font-family:Autograph;
    src: url(/fonts/Autography.otf);
  }
  
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      /* border: 2px solid lightgreen; */
  }
  html{
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
      width: 16px;
    }
  
    html::-webkit-scrollbar-thumb {
      background-color: #252525;
      border-radius: 100vw;
      border: 3px solid #00d8ca;  
    }
  
    html::-webkit-scrollbar-track {
      background-color: #00d8ca;
    }
  
    div#preloader{
      width: 100%;
      height: 100vh;
      background-color: #ddd;
      position: fixed;
      top: 0;
      z-index: 1000;
      display: grid;
      justify-content: center;
      align-items: center;
    }
  
    .preloader__img img{
      height: 350px;
    }

    body{
        background-color: #FFFBFA;
    }
    #navigation{
        min-width: 349px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.494);
    }

    .logo-container{
        padding-top:20px;       
        max-width: 349px;
        background: #000;
    }

    .logoSymbol{
        font-family: SpaceAge;
        font-size: 45px;
        color: #FFFBFA;
        margin-left: 30px; 
        text-align: center;
        text-decoration: none;
        font-weight: 900;
      }

      .navbar-nav__non-boostrap{
        display: flex;
        max-width: 349px;
        background: #000;
      }
      .nav-item__non-boostrap{
        margin: 30px;
        list-style: none;
      }
      .nav-link__non-boostrap{
        color: #FFFBFA;
        font-family: 'Zabal',sans-serif;
        font-size: 25px;
      }

      .firstBtn button{
        margin-top: 15px;
        margin-right: 15px;
        max-width: 349px;
        width: 70px;
        height: 55px;
        background-color:#00d8c9;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
      }

      .firstBtn--link svg{
        color: #FFFBFA;
        font-size: 20px;
      }